 body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    } 
H1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(206, 15, 15)
}
 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}
p {
    font-size: 60px;
    color: yellow
}
 
#dealer-cards img {
    height: 140px;
    width: 130px;
    margin: 5px;
}

#your-cards img {
    height: 140px;
    width: 130px;
    margin: 5px;
}
#deal {
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border: solid rgb(8, 48, 14);
    background-color: rgba(18, 53, 12, 0.411);
    border-radius: 15px
    
}
#deal:hover{
    transition-duration: 1s;
    background-color: rgba(170, 229, 160, 0.822);
    color: rgba(23, 24, 22, 0.39);
}
#hit {
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    border: solid rgb(211, 11, 11);
    background-color: yellow;
    border-radius: 15px
    
}
#hit:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(24, 202, 24)
    
}
#stay {
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    border: solid rgb(211, 11, 11);
    background-color: yellow;
    border-radius: 15px

}
#stay:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(202, 24, 24)
}
/* #split {
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    border: solid rgb(211, 11, 11);
    background-color: yellow;
    border-radius: 15px

} */

/* #split:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(42, 24, 202)
} */


body {
	background-color: rgba(19, 116, 43, 0.555);
    text-align: center;; 
	
	text-align: center
    

	
    
}
canvas {
	background-image: url(assets/PNG/background.png);
	background-size: cover;
	border:5px solid rgba(223, 226, 45, 0.726);
}

