 body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    text-align: center;
    } 
H1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 70px;
    color: rgb(206, 15, 15)
}
 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    text-align: center;
    font-size: 40px;
 }
p {
    font-size: 60px;
    color:rgb(206, 15, 15)
}
 
#dealer-cards img {
    height: 170px;
    width: 140px;
    margin: 1px;
}

#your-cards img {
    height: 170px;
    width: 140px;
    margin: 1px;
}
#deal {
    width: 150px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    border: solid rgb(211, 11, 11);
    background-color: yellow;
    border-radius: 12px
    
}
#deal:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(8, 100, 8)
}
#hit {
    width: 150px;

    height: 75px;
    font-size: 30px;
    font-weight: bold;
    border: solid rgb(211, 11, 11);
    background-color: yellow;
    border-radius: 12px
    
}
#hit:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(73, 170, 73)
    
}
#stay {
    width: 150px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    border: solid rgb(211, 11, 11);
    background-color: yellow;
    border-radius: 12px

}
#stay:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(73, 170, 73)
}



body {
	background-color: rgb(73, 170, 73); 
	
	text-align: center
    

	
    
}
canvas {
	background-image: url(assets/PNG/background.png);
	background-size: cover;
	border:5px solid rgb(223, 226, 45);
}