body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }
 h2 {
    font-size: 40px;
 }

#dealer-cards img {
    height: 200px;
    width: 170px;
    margin: 2px;
}

#your-cards img {
    height: 200px;
    width: 170px;
    margin: 2px;
}

#hit {
    width: 150px;
    height: 75px;
    font-size: 30px;
    border: solid red;
    background-color: yellow;
    border-radius: 12px
    
}
#hit:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(73, 170, 73)
    
}
#stay {
    width: 150px;
    height: 75px;
    font-size: 30px;
    border:solid red ;
    background-color: yellow;
    border-radius: 12px

}
#stay:hover{
    transition-duration: 1s;
    background-color: white;
    color: rgb(73, 170, 73)
}
p {
    font-size: 40px;
    color: yellow
 }

body {
	background-color: rgb(73, 170, 73);
	/*background-image: url(http://molotilo.com/wp-content/uploads/2016/07/green-carpet.jpg);*/
	/*background-size: cover;*/
	text-align: center
    
}

canvas {
	background-image: url(assets/PNG/background.png);
	background-size: cover;
	border:5px solid rgb(223, 226, 45);
}